body {
  background-color: whitesmoke;
  margin: 0;
}

header {
  background-color: purple;
  color: white;
  text-align: center;
  padding: 20px;
}

a {
  color: white;
  text-decoration: none;
  margin: 15px;
}

.content {
  background-color: white;
  width: 80%;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  color: black;
}

p {
  color: gray;
}

hr {
  color: lightgray;
}

footer {
  background-color: purple;
  color: white;
  text-align: center;
  padding: 20px;
}
