h1 {
  margin: 0px;
  background-color: gray;
  text-align: center;
  padding: 100px;
  color: white;
}
.leftSide {
  padding: 30 50px 40px 10px;
  color: blue;
  text-decoration: underline;
  background-color: rgb(167, 164, 164);
  width: 20%;
}

.rightSide {
  width: 80%;
  background-color: rgb(231, 213, 213);
  padding: 20px;
}
footer {
  margin: 0px;
  background-color: gray;
  text-align: center;
  padding: 50px;
  color: white;
  text-transform: uppercase;
}
body {
  margin: 0px;
}
