h1 {
  color: black;
  text-align: center;
  font-size: 42px;
  letter-spacing: 2px;
}
h4 {
  color: black;
  text-align: center;
}
button {
  align-items: center;
}
.leftSide {
  width: 60%;
  color: black;
  text-align: top left;
}

.rightSide {
  display: flex;
  justify-content: end;
  gap: 10px;
  width: 100%;
  color: gray;
  padding: 40px 60px;
}

.heroSection {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
}

.logo1 {
  background-color: antiquewhite;
  width: 40%;
  padding: 20px 50px;
  color: black;
  font-size: 30px;
  font-weight: 700;
  padding: 100px;
}

.button {
  text-align: center;
  padding: 100px;
  padding-bottom: 100px;
  border: red;
}
.image {
  display: flex;
  gap: 20px;
  flex-wrap: 250px;
}
.image {
  width: 250px;
}
.person {
  text-align: right;
  bottom: 120px;
}
.person img {
  width: 500px;
}
