.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  gap: 30px;
}

.leftSide {
  color: black;
}

.center {
  display: flex;
  gap: 20px;
  color: rgb(165, 163, 163);
}
.contact {
  margin-left: auto;
}
.agency {
  background-color: rgb(183, 183, 241);
  color: blue;
  border-radius: 5px;
}
img {
  width: 400px;
  text-align: right;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}

.about-section {
  display: flex;
  text-align: center;
  padding: 80px 50px;
}

.top-text {
  color: #7aa7ff;
  letter-spacing: 2px;
  margin-bottom: 50px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  width: 260px;
  padding: 30px;
  border-radius: 20px;
  text-align: left;

  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08);
}

.icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.left {
  text-align: left;
  padding: auto;
}
.title {
  text-align: left;
  font-size: 50px;
  line-height: 1.2;
}
